@import "../../../scss/root.scss";

.importanceTitle {  
  top:10%;

  &__item{
    position: absolute;
    top: 10%;
  }

  h1 {
    color: $pe_dark;
    margin-top: 0px;
    display: block;
    font-size: 48px;
  }
}

.textAreaContainer {
  top:17%;

  p {
    color: $pe_dark;
    display: block;
    font-size: 18px;
  }

  hr {
    color: $pe_dark;
    display: block;
    border-top: 2px solid $pe_dark;
  }
}

.polarAnimImg{
  top:45%;
  margin:0;
}

.wrapperCommonContainer {
  position:absolute;
  left:0;
  width: 100%;
}



.commonContainer { 
  position: absolute;
  width: calc(100% - 160px);
  margin: 0 80px;

  * {
    display: initial;
    align-items: unset;
    justify-content: unset;
  }
}

.commonContainerSpecial { 
  position: absolute;
  width: calc(100% - 160px);
  margin: 0 80px;
}


// image container 
.trioImg__container{
  height: 490px;
}

