.page7 {

    #future-positive {
      position: absolute;
      top: 0rem;
      left: 0rem;
      object-fit: cover;
      height: 100%;
      width: 100%;
  }
  
  #future-negative {
      position: absolute;
      top: 0rem;
      left: 0rem;
      object-fit: cover;
      height: 100%;
      width: 100%;
  }
}