.page2ElephantBackground {
  background-image: url(https://i.ibb.co/vms5Wcq/About.png);
  background-repeat: no-repeat;
  background-size: cover
}

.sideBottomGrass{
  position: absolute;
  z-index: 12;

  img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}


.sideLongGrass{
  position: absolute;
  z-index: 10;

  img {
    position: absolute;
    right: 0;
   margin-top: 30%;
  }
}


.aboutElephant{
  position: absolute;
  z-index: 1;

  img {
    position: absolute;
    margin-left: 35%;
   margin-top: 15%;
  }
}


.aboutElephBirds{
  position: absolute;
  z-index: 1;

  img {
    position: absolute;
    margin-left: 40%;
    margin-bottom: 30%;

  }
}


@media screen and (max-width: 1536px) {
  .sideBottomGrass{
    
    
  
    img {
  
      zoom: 0.8 !important;
    }
  }
  
  
  .sideLongGrass{
    position: absolute;
    z-index: 10;
  
    img {
      padding-top: 5%;
      zoom: 0.6 !important;
    }
  }
  
  
  .aboutElephant{
   
  
    img {
      zoom: 0.8;
    }
  }
  
  
  .aboutElephBirds{
   
  
    img {
      zoom: 0.7;
    }
  }
  .textListContainer{
    padding-top: 10%;
    width:40%;
    height:100vh;
    zoom: 0.8;
  
    
    &_flex {
  
      width: 80%;
      height: 90%;
     
    }
  }

}
                                

@media screen and (max-width: 1366px) {
  .sideBottomGrass{
    
    
  
    img {
  
      zoom: 0.7 !important;
    }
  }
  
  
  .sideLongGrass{
    position: absolute;
    z-index: 10;
  
    img {
      padding-top: 5%;
      zoom: 0.6 !important;
    }
  }
  
  
  .aboutElephant{
   
  
    img {
      zoom: 0.7;
    }
  }
  
  
  .aboutElephBirds{
   
  
    img {
      zoom: 0.7;
    }
  }
  .textListContainer{
    padding-top: 10%;
    width:40%;
    height:100vh;
    zoom: 0.8;
  
    
    &_flex {
  
      width: 80%;
      height: 90%;
     
    }
  }

}
                                