@import "../../../scss/root.scss";

.statusTitle {
  top: 20%;
  color: $pe_dark;

  .commonContainerSpecial {
    color: $pe_dark;

    h2 {
      display: block;
      font-size: 24px;
      margin-bottom: 0;
      padding: 0;
    }

    h3 {
      margin-top: 0;
      display: block;
      font-size: 48px;
    }
  }
}

.wrapperCommonContainer.statusTextArea {
  color: $pe_dark;
  top: 32%;
  width: 50%;

  p {
    font-size: 22px;
    display: block;
  }
}

.sideArcticImage {
  position: absolute;
  width: 55%;
  top: 0;
  right: 0;

  img {
    margin: auto;
    zoom: 1.2;
  }
}

@media screen and (max-width: 1366px) {
  .sideArcticImage {
    position: absolute;
    width: 55%;
    top: 0;
    right: 0;
  
    img {
      margin: auto;
      zoom: 0.9;
    }
  }
  
}


@media screen and (max-width: 1536px) {
  .sideArcticImage {
    position: absolute;
    width: 55%;
    top: 0;
    right: 0;
  
    img {
      margin: auto;
      zoom: 0.9;
    }
  }
  
}
                        