.mobile-page-01 {
}

.mobile-page01-image {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.mobile-page01-title {
    display: inline;
    position: absolute;
    left: 1.5rem;
    top: 5rem;
    color: #013440;
    font-size: 48px;
    line-height: 48px;
}