.side-menu-container {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100vh;
    box-shadow: 4px 4px 8px 0px #0000001A;
    background-color: #FFFFFF;
    text-decoration: none;
    overflow: auto
}

.side-menu-container b {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #013440;
    font-weight: lighter;
}

.side-menu-container a {
    text-decoration: none;
}

.parallax-toggle-group {
    display: flex;
    flex-direction: row;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.75rem;
    align-items: center;
}

.parallax-toggle-switch {
    margin-left: auto;
}

.side-menu-footer {
    margin-top: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer-div {
    display: flex;
    justify-content: center;
    height: 2px;
    background: #013440;
    width: 17rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.footer-logo {
    width: 9.5rem;
    padding-bottom: 1rem;
}

.side-menu-footer p {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: #013440;
    font-weight: lighter;
    margin: 0rem;
}