.page6TurtleBackground {
    background-image: url(https://i.ibb.co/84dhz2S/Past-Turtle.png);
    background-repeat: no-repeat;
    background-size: cover
  }

  
  .tutleTooltip1 {
    z-index: 9999;
  
    
  
    .wrapperCommonContainer{
      top: 48%;
  
      .tooltip {
        margin-left:47%;
      }
    }
  
    
    
  }
  
  .tutleTooltip2 {
    z-index: 9999;
    
    .wrapperCommonContainer{
      top: 16%; 
  
      .tooltip {
        margin-left: 58%;
      }
    
    }
  }


  .tutleTooltip3 {
    z-index: 9999;
    
    .wrapperCommonContainer{
      top: 48%; 
  
      .tooltip {
        margin-left: 76%;
      }
    
    }
  }

 