.map-legend-container {
    background-color: #F8F8F8;
    box-shadow: 4px 4px 8px 0px #0000001A;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    width: 12rem;
    height: 2.4rem;
}

.map-legend-row1 {
    display: inline-block;
}

.map-legend-label1 {
    position: absolute;
    top: -.4rem;
    left: 2.5rem;
    line-height: 24px;
    color: #013440;
}

.map-legend-label2 {
    position: absolute;
    top: 1.25rem;
    left: 2.5rem;
    line-height: 24px;
    color: #013440;
}
