@import "../../../scss/root.scss";

.page2Background {
  background-image: url(https://i.ibb.co/BZk1MXN/page2background.png);
  background-repeat: no-repeat;
  background-size: cover
}

.textListContainer{
  position: absolute;
  top: 0;
  left: 0;
  width:30%;
  height:100vh;
  color: $pe_dark;
  
  &_flex {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}

.standingPolarbear{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  z-index: 10;

  img {
    position: absolute;
    right: 27%;
    top: 30%;
  }
}

.birdsSkyImg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 11px;

  img {
    position: absolute;
    right: 12%;
    top: 17%;
    width: 40%;
  }
  
}


