.page1CraneBackground {
  background-image: url(https://i.ibb.co/vcKtSRR/BG-10.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.craneTitle {
  position: absolute;
  left: 72px;
  top: 120px;
  height: auto;
  width:385px;
  z-index: 99999;
}

.craneWaterDetails {
  z-index: 1;
  .waterLilypads {
    position: absolute;
    display: flex;
    top: 80%;
    width: 95%;   
   
  }
}
.backgroundReedsCrane {
  z-index: 1;
  .backgroundReeds {
    position: absolute;
    display: flex;
    padding-top: 20%;
  }
}

.foregroundReedsCrane {
  z-index: 99999;
  .foregroundReeds {
    position: absolute;
    display: flex;
    padding-top: 40%;
    width: 80%;   
  }
}

.homeCrane {
  z-index: 9999;
  .homeCraneImg {
    position: absolute;
    display: flex;
    padding-top: 15%;
    width:13%;  

  }
}


.craneSky {
  .craneSkyDetails {
    position: absolute;
    display: flex;
    padding-bottom: 20%;
    padding-left: 30%;
    width:50%;  

  }
}