@media screen and (max-width: 1536px) {

  .importanceTitle {  
     
  
    
      h1 {
        
        margin-top: 10px;
        display: block;
        font-size: 40px;
  
      }
    }
    
    .textAreaContainer {
      top:19%;
    
      p {
      
        display: block;
        font-size: 16px;
      }
    
    
    }
    
    .polarAnimImg{
      top:47%;
      margin:0;
    }
    
    
    // image container 
    .trioImg__container{
      height: 370px;
    }
   
  }


  @media screen and (max-width: 1400px) {

    .importanceTitle {  
       
    
      
        h1 {
          
          margin-top: 10px;
          display: block;
          font-size: 40px;
    
        }
      }
      
      .textAreaContainer {
        top:19%;
      
        p {
        
          display: block;
          font-size: 16px;
        }
      
      
      }
      
      .polarAnimImg{
        top:50%;
        margin:0;
      }
      
      
      // image container 
      .trioImg__container{
        height: 340px;
      }
     
    }

@media screen and (max-width: 1366px) {

.importanceTitle {  
   

  
    h1 {
      
      margin-top: 10px;
      display: block;
      font-size: 40px;

    }
  }
  
  .textAreaContainer {
    top:19%;
  
    p {
    
      display: block;
      font-size: 16px;
    }
  
  
  }
  
  .polarAnimImg{
    top:48%;
    margin:0;
  }
  
  
  // image container 
  .trioImg__container{
    height: 320px;
  }
 
}