@media screen and (max-width: 1536px) {

  .importanceTitle {  
     
  
    
      h1 {
        
        margin-top: 10px;
        display: block;
        font-size: 40px;
  
      }
    }
    
    .textAreaContainer {
      top:19%;
    
      p {
      
        display: block;
        font-size: 16px;
      }
    
    
    }
    
    .polarAnimImg{
      top:50%;
      margin:0;
    }
    
    
    // image container 
    .trioImg__container{
      height: 320px;
    }
   
  }



@media screen and (max-width: 1366px) {

.importanceTitle {  
   

  
    h1 {
      
      margin-top: 10px;
      display: block;
      font-size: 40px;

    }
  }
  
  .textAreaContainer {
    top:19%;
  
    p {
    
      display: block;
      font-size: 16px;
    }
  
  
  }
  
  .polarAnimImg{
    top:53%;
    margin:0;
  }
  
  
  // image container 
  .trioImg__container{
    height: 300px;
  }
 
}