.large-icon-button {
    display: block;
    border: none;
    appearance: none;
    border: 0px;
    border-radius: 50%;
    background-color: #01344040;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 4.5rem;
    height: 4.5rem;
}

.button-container {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    box-shadow: 4px 4px 8px 0px #0000001A;
}

.material-icons.chevron-icon {
    font-size: 3rem;
    color: #F8F8F8;
}

.large-icon-button:hover {
    background-color: #013440BF;
}

.xxxlarge-icon-button:focus {
    border: 0.25rem solid #28A0D3;
}