.mobile-page-02 {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.mobile-about {
    position: absolute;
    width: 100vw;
    left: 1.5rem;
    top: 8rem;
}

.mobile-about-info {
    width: 100%;
}

#about-divider {
    background-color: #013440;
    width: 100%;
    height: 2px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding-right: 1.5rem;
}

.mobile-about-label {
    color: #013440;
    font-size: 18px;
    margin: none;
}

.mobile-about-details {
    color: #013440;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    margin-top: .5rem;
    width: 100vw;
}