.page6CraneBackground {
    background-image: url(https://i.ibb.co/nCMDgPB/Past.png);
    background-repeat: no-repeat;
    background-size: cover;
  }


  .craneTooltip1 {
    z-index: 9999;
  
    
  
    .wrapperCommonContainer{
      top: 47%;
  
      .tooltip {
        margin-left:9%;
      }
    }
  
    
    
  }
  
  .craneTooltip2 {
    z-index: 9999;
    
    .wrapperCommonContainer{
      top: 16%; 
  
      .tooltip {
        margin-left: 35%;
      }
    
    }
  }


  .craneTooltip3 {
    z-index: 9999;
    
    .wrapperCommonContainer{
      top: 48%; 
  
      .tooltip {
        margin-left: 47%;
      }
    
    }
  }

  .craneTooltip4 {
    z-index: 9999;
    
    .wrapperCommonContainer{
      top: 17%; 
  
      .tooltip {
        margin-left: 67%;
      }
    
    }
  }
  .craneTooltip5 {
    z-index: 9999;
    
    .wrapperCommonContainer{
      top: 47%; 
  
      .tooltip {
        margin-left: 74%;
      }
    
    }
  }
