.circle {
    background: #94D2ED;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(148, 210, 237, 1);
	margin: 10px;
	
	transform: scale(2);
	animation: pulse-blue 2s infinite;
    position: absolute;
  }

#large{
	height: 60px;
	width: 60px;
}

#medium{
	height: 40px;
	width: 40px;
}

@keyframes pulse-blue {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(148, 210, 237, 0.85);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 18px rgba(148, 210, 237, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(148, 210, 237, 0);
	}
}

.circle:hover {
    background: rgba(172, 212, 172, 0.5);
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(148, 210, 237, 1);
	
    border: 2px solid #2d6c73;
	transform: scale(1.5);
	animation: pulse-blue 0s infinite;
    position: absolute;
    animation: fade ease-out 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.centered{
    
}

