.enviromentForest3d{ 
    padding-top:7%;

    }
@media screen and (max-width: 1536px) {

    .enviromentForest3d{ 
        padding-top:9%;
        zoom:0.7;
        }
}

@media screen and (max-width: 1366px) {

    .enviromentForest3d{ 
        padding-top:9%;
        zoom:0.7;
        }
}


@media screen and (max-width: 1366px), 
screen and (max-height: 650px) {

    .enviromentForest3d{ 
        padding-top:9%;
        zoom:0.7;
        }

}










