.trioImg{
  &__container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
      height: 100%;
      width: auto;
    }
  }
}
