.page2CraneBackground {
  background-image: url(https://i.ibb.co/vJ9wDcz/BG-11.png);
  background-repeat: no-repeat;
  background-size: cover
}


.AboutWaterDetails{
  position: absolute;
  z-index: 10;

  img {
    position: absolute;
   margin-top: 30%;
   padding-left: 45%;
   width: 60%;
  }
}


.flyingCrane{
  position: absolute;
  z-index: 1;

  img {
    position: absolute;
    margin-left: 35%;
     margin-bottom: 10%;
     width: 40%;
  }
}


