.page5ElephantBackground {
  background-image: url(https://i.ibb.co/YpzsnB2/elephMap.png);
  background-repeat: no-repeat;
  background-size: cover
}
.desktop-map-legend{
  position: absolute;
  top: 26%;
  left: 60px;
  zoom: 1.2;
  z-index: 999999;
}
.page5{
  &.marker .now {
    width:20px;
    height: 20px;
  }

  .marker {
    position:absolute;
    z-index: 99;

    .commonContainerSpecial{
      margin:0;
    } 

    &-28 {
      left: 37%;
      top:60%;
      z-index: 99999;
   
    }
    &-29 {
      left: 41%;
      top:63%;
    
    }

    &-30 {
      left: 50%;
      top:50%;
      
    }
    &-31 {
      left: 51%;
      top:58%;
     
    }
    &-32 {
      left: 46%;
      top:62%;

    }
    &-33 {
      left: 48%;
      top:68%;

    }
    &-34 {
      left: 51%;
      top:67%;
    
    }
    &-35 {
      left: 53%;
      top:63%;
 
    }
    &-36 {
      left: 56%;
      top:66%;

    }
    
  }
 
 
  
}

@media screen and (max-width:1536px) {

  .population{
    &Title {
    top: 5%;
    z-index:0;
    font-size: 40px;
    }
    
    &Text{
      top:18%;
      z-index: 1;
      font-size:18px;
    }
  }
}






@media screen and (max-width: 1366px) {

    .population{
      &Title {
      top: 5%;
      z-index:0;
      font-size: 40px;
      }
      
      &Text{
        top:18%;
        z-index: 1;
        font-size:18px;
      }
    }
  }
  
  
  @media screen and (max-width: 1366px), 
       screen and (max-height: 650px) {

        .population{
          &Title {
          top: 5%;
          z-index:0;
          font-size: 40px;
          }
          
          &Text{
            top:20%;
            z-index: 1;
            font-size:18px;
          }
        }
 
}

  
  
  
  
  
  
  
  
  
  