@import "../../../scss/root.scss";

.page7 {

  .page7Background {
    background-image: url(https://i.ibb.co/sCNDbb8/positive-Future.png);
    background-repeat: no-repeat;
    background-size: cover
  }

  .future{
    &Title {
    top: 10%;
    z-index:0;
    color: $pe_dark;
    font-size: 48px;
    }
    
    &Text{
      top:19%;
      z-index: 1;
      color: $pe_dark;
      font-size: 20px;
    }
  }
  
  .fade-in {
    animation: fadeIn ease-in-out 1s forwards;
    
  }
  
  .fade-out{
    animation: fadeOut ease-in-out 1s forwards;

  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .futureText {
    .commonContainer{
      .pContainer {
        padding:30px;
        display: block;
      }
    }
  }

  .toggleButtonsP7 {
    z-index: 9999;
    top: 40px;
    position: absolute;
    left: 0;
    width: 100%;

    .flexContainer100{
      margin-top:80px;
      width: 100%;
      flex-direction: row-reverse;
      height: 100%;
    }
  
    .wrapperCommonContainer.toggleButtons {
      position:absolute;
      top:12%;
      z-index: 9999;
    }
  }
}






