.content {
  display: flex;
  text-align: center;
}

label, .toggle-then-now, .toggle-positive-negative {
  height: 2.8rem;
  border-radius: 100px;
}

.text-switch-then-now{
  width: 9.5rem;
  height: 3rem;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  box-shadow: 4px 4px 8px 0px #0000001A;
}

.text-switch-positive-negative {
  width: 14.5rem;
  height: 3rem;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  box-shadow: 4px 4px 8px 0px #0000001A;
}

#base-orange {
  background-color: #FFAF8140;
}

#base-white {
  background-color: #f8f8f880;
}

.toggle-then-now {
  position: absolute;
  width: 4.5rem;
  height: 2.5rem;
  top: 0.25rem;
  left: 0.25rem;
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toggle-positive-negative {
  position: absolute;
  width: 7rem;
  height: 2.5rem;
  top: 0.25rem;
  left: 0.25rem;
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#toggle-orange {
  background-color: #FFAF81;
}

.names {
  border-radius: 2rem;
  text-align: center;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #013440;
}

.then{
  width: 75%;
  position: absolute;
  top: -.5rem;
  left: 1rem;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.now{
  width: 75%;
  position: absolute;
  top: -.5rem;
  left: 5.60rem;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.positive{
  width: 75%;
  position: absolute;
  top: -.5rem;
  left: 1.25rem;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.negative{
  width: 75%;
  position: absolute;
  top: -.5rem;
  left: 8.05rem;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

input.switch[type="checkbox"] {
  display: none;
}

input.switch[type="checkbox"]:checked + .app #toggle-orange{
  transform: translateX(100%);
  background-color: #FFAF81;;
}
input.switch[type="checkbox"]:hover + .app #toggle-orange{
  background-color: #FFBF9A;
}

input.switch[type="checkbox"]:active + .app #toggle-orange{
  background-color: #FFCFB3;
}
