



// .expanded {
//     background-color: #FFFFFF;
//     font-weight:900;
// }


.menu-item-container{

    .menu-item-icon {
        width: 2rem;
        padding-right: 0.5rem;
        image-rendering: crisp-edges;
        image-rendering: -webkit-optimize-contrast;
    }

    .material-icons.expand-icon {
        margin-left: auto;
        font-size: 1.5rem;
        color: #013440;
        transition: .5s;
        border-radius: 50%;

        &:hover {
            background-color: #0134401A;
        }

        &:active{
            background-color: #01344033;
        }
    }

    .menu-item {
        width: 22rem;
        display: flex;
        flex-direction: row;
        border: none;
        align-items: center;
        appearance: none;
        cursor: pointer;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        color: #013440;

        .material-icons.expand-icon {
        
            &.expand-less {
                transform: rotate(0deg);
            }

            &.expand-more {
                transform: rotate(180deg) ; 
            }
            
        }
        
        &.selected {
            background-color: #FFFFFF;
            font-weight:900;

            &:hover{
                background-color: #C1D9DC;
                transition: .5s;
            }

            &:active{
              
            }
        }
    
        &.normal {
            background-color: #FFFFFF;
            font-weight: 600;

            .material-icons.expand-icon {
                margin-left: auto;
                font-size: 1.5rem;
                color: #013440;
                transition: .5s;
                border-radius: 50%;
            }

            &:hover{
                background-color: #0134401A;
                transition: .5s;

                .material-icons.expand-icon {
                    display: block;
                }
            }

            &:active{
                background-color: #01344033;

                // .material-icons.expand-icon {
                //     display: block;
                //     transform: rotate(180deg); 
                // }
            }
        }


    }
}





// .expanded .material-icons.expand-icon {
//     transform: rotate(180deg);
// }

// .normal:hover, .expanded:hover {
//     background-color: #0134401A;
//     transition: .5s;
// }


// .normal:active, .expanded:active {
//     background-color: #01344033;
// }





// .material-icons.expand-icon:hover {
    
// }

// .material-icons.expand-icon:active {
    
// }
