.sidebar {
  justify-content: left;
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: left;
  padding: 0 0px 50px 0px;
  background-color: white;
  width: 22rem;
  height: calc(100vh - 70px);
  box-shadow: 0 40px 50px rgb(0 0 0 / 40%);
  transform: translateX(-500px);
  transition: all 0.5s linear;
  box-sizing: border-box;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: space-between;
  top: 70px;

  &::-webkit-scrollbar {
    display: none;
  }

  &.show {
    transform: translateX(0px);
    transition: all 0.5s linear;
  }

  .sidenav {
    position: relative;
    margin-top: 28px;

    a {
      color: #013440;
      text-decoration: none;
      font-size: 12px;
      text-transform: uppercase;
    }

    b {
      font-size: 18px;
      font-family: "Poppins", sans-serif;
      color: #013440;
      font-weight: lighter;
    }

    .home,
    .polarbear,
    .forestelephant,
    .whoopingcrane,
    .turtle {
      display: flex;
      justify-content: left;
      transition: all 0.5s linear;
    }

    .sub-item {
      display: none;

      &.open {
        display: flex;
        flex-direction: column;
      }
    }

    .parallax-toggle-group {
      display: flex;
      flex-direction: row;
      padding-left: 1.5rem;
      padding-top: 1.5rem;
      padding-right: 1.5rem;
      padding-bottom: 0.75rem;
      align-items: center;
    }

    .parallax-toggle-switch {
      margin-left: auto;
    }
  }

  .btm {
    margin: 0 auto;
    height: max-content;
    display: flex;
    flex-direction: column;

    .line {
      display: flex;
      justify-content: center;
      height: 2px;
      background: #013440;
      width: 250px;
      margin: auto;
    }

    .colorLogo {
      margin: auto;
      padding-top: 30px;
      width: 180px;
      height: 60px;
      display: flex;
    }

    .copyright {
      display: flex;
      padding-top: 30px;
      color: grey;
      font-size: 10px;
      margin: 0 auto;
    }
  }
}

