.footer-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  bottom: 0;
  position: absolute;
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
