@import "../../../scss/root.scss";

.page5Background {
  background-image: url(https://i.ibb.co/0nTt05S/map.png);
  background-repeat: no-repeat;
  background-size:cover;
}

.population{
  &Title {
  top: 5%;
  z-index:0;
  color: $pe_dark;
  font-size: 48px;
  }
  
  &Text{
    top:18%;
    z-index: 1;
    color: $pe_dark;
    font-size: 20px;
  }
}

.p5toggleButtonsParent{
  z-index: 9999;
  .flexContainer100{
    margin-top:80px;
    width: 100%;
    flex-direction: row-reverse;
    height: 100%;
  }
  
  .wrapperCommonContainer.toggleButtons {
    position:absolute;
    top:12%;
    z-index: 9999;
  }
  
}

.increase {
  animation: Increase ease-in-out forwards 1s;
}

.decrease {
  animation: Decrease ease-in-out forwards 1s;
}

@keyframes Increase {
  0%{
    opacity: 0;
    
  }
  100% {
    opacity: 1;
  }
}

@keyframes Decrease {
  0%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.page5{

  &.marker .now {
    width:20px;
    height: 20px;
  }

  .marker {

    .commonContainerSpecial{
      margin:0;
    } 

    &-1 {
      left: 10%;
      top:33%;
    }

    &-2{
      left: 17%;
      top:36%;
    
      
    }
    &-3{
      left: 19%;
      top:32%;
    }
    &-4{
      left: 23%;
      top:37%;
    }
    &-5{
      left: 24%;
      top:43%;
      
    }
    &-6{
      left: 27%;
      top:48%;
  
    }
    &-7{
      left: 32%;
      top:48%;
    }&-8{
      left: 28%;
      top:40%;
    }
    &-9{
      left: 26%;
      top:39%;
    }
    &-10{
      left: 21%;
      top:27%;
    }
    &-37{
      left: 26%;
      top:29%;
    }
    &-38{
      left: 27%;
      top:22%;
    }
    &-39{
      left: 33%;
      top:32%;
    }
    &-40{
      left: 31%;
      top:25%;
    }
    &-41{
      left: 40%;
      top:32%;
    }
    &-42{
      left: 45%;
      top:20%;
    }
    &-43{
      left: 52%;
      top:22%;
    }
    &-44{
      left: 64%;
      top:30%;
    }
    &-45{
      left: 70%;
      top:25%;
    }
    h3 {
      margin:0;
      padding:0;
      margin-bottom: 10px;
    }
    p {
      margin: 0;
      padding: 0;
      color: $pe_dark;
      white-space: nowrap;
    }
  }

}













