@import "../../../scss/colors.scss";

.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.title {
  position: absolute;
  left: 72px;
  top: 120px;
  height: 115px;
  width:385px;
}

.backgroundMountains {
  display: flex;
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100vh;

  .mountain1{
    height: 500px;
    width: 750px;
    margin-top: 9%;
    margin-left: 18%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .mountain2{
    height: 400px;
    width: 750px;
    margin-top: 15%;
    position: absolute;
    margin-left: 61%;
    top: 0;
    z-index: 1;
  }
  .mountain3 {
    height: 500px;
    width: 250px;
    margin-top: 8%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
}

.water {
  position: absolute;
  z-index: 4;
  bottom:0;
  left: 0;
  width: 100%;
  height: 50vh;


  &base {
    height: 379px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0px;
  }

  .ice {
    display: flex;
    height: auto;
    margin-top: 21%;
    position: absolute;
    z-index: 5;
    width: 100%;
  }

  .lightdetail {
    position: absolute;
    z-index: 7;
    margin-top: 45%;
    width: 100%;
  }

  .darkdetail {
    display: inherit;
    position: absolute;
    z-index: 6;
    margin-top: 40%;
    width: 100%;
    margin-left: 8%;
}
}

.polarbearOnIce{
  z-index: 8;

  .polarIce{
    height: 400px;
    width: 550px;
    position: absolute;
    margin-top: 458px;
    margin-left: 312px;
  }
}


.sky {
  position: inherit;

  .sun{
    position: absolute;
    z-index: 1;
    top: 19%;
    width: 244px;
    left: 51%;
  }

  .bird {
    height: 100px;
    width: 700px;
    position: absolute;
    top: 12%;
    left: 43%;
    z-index: 3;
  }
}
