@import '../../scss/variables.scss';

.tooltip {
  position:relative;
  width: 100%;
  height: 100%;
  color: $pe_dark;

  &_wrapper {
    background-image: url("https://i.ibb.co/7bg0dCF/Tooltip.png");
    background-size: 100% 100%;
    padding: 24px 26px 24px 36px;
  }

  &_clear{
    clear:both;
    float:none;
    height: 0;
  }

  &_title {
    font-size: 24px;
    font-weight: bold;
  }

  &_description {
    font-size: 18px;
  }
  
}



@media screen and (max-width: 500px) {

  .tooltip {
  &_wrapper {
    background-image: url("https://i.ibb.co/7bg0dCF/Tooltip.png");
    background-size: 80% 100%;
    background-repeat: no-repeat;
    padding: 24px 26px 28px 36px;
  }

    &_title {
      font-size: 20px;
      font-weight: bold;
    }
  
    &_description {
      font-size: 16px;
    }
    
  }
}
