.craneEnviro{ 
    padding-top:6%;
    zoom:0.8;
    }

@media screen and (max-width: 1366px) {
    
    .craneEnviro{ 
        padding-top:6%;
        zoom:0.5;
        }
}


@media screen and (max-width: 1536px) {
    
    .craneEnviro{ 
        padding-top:6%;
    zoom:0.5;
        }
}