.timeline-marker-container {
    position: relative;
    background-color: brown;
}

.timeline-marker-image {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 12.5rem;
    height: auto;
}

.timeline-marker-contents {
    width: 9rem;
    margin: 0rem;
    position: absolute;
    top: 1rem;
    left: 2rem;
    vertical-align:top;
    white-space:normal;
    word-wrap: break-word;
}

.timeline-marker-contents p {
    margin: 0rem;
    color: #013440;
}

.timeline-marker-date {
    font-weight: bold;
}

.timeline-marker-event2 {
    margin-top: 1.5rem;
}