 
.orange {
  background-image: url(https://i.ibb.co/GQH6Rtd/BG.png);
  background-size: cover;
}

.teal {
  background:white;
}

.skyblue {
    background-color: skyblue;
}

.darkblue{
  background: #013440;
}

$darkblue: #013440;

.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;

}
