 
  .orange {
    background-image: url(https://i.ibb.co/GCP7k1j/sky.png);
  }
  
  .teal {
    background:white;
  }
  
  .pink {
    background: pink;
  }

  .skyblue {
      background-color: skyblue;
  }